@page
@model WebApp.Pages.SubjectSemesters.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SubjectSemester</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectSemester.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectSemester.Subject.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectSemester.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectSemester.Semester.SemesterName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SubjectSemester.SubjectSemesterId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
